<h1>Analytics</h1><p align="right"><%= link_to "Home", root_url %></p>
<div class="urls">
	<% @urls.each do |url| %>
	  <ul>
	    <li><%= link_to @base_url + "/urls/" + url.short_url, url_path(url.short_url) %> - <%= url.source_url %></li>
	    <li>Total click: <%= url.click_count %></li>
	    <li>Top Countries : <%= url.countries.compact.uniq.join(",") %></li>
	  </ul>
	  <hr>
	<% end %>
</div>
